body{
    background-color: rgb(132, 3, 52);
    color:white;
    margin: 0;

}
.barra_navegacao{
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: space-between;
    
}
.power_sun{
    border: 5px solid white;
    background-color: white;
    width: 100%;
    height: 80px;
}
.menu{
    border: 5px solid white;
    background-color: orange;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
form{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    margin: auto;
  }
a{
    color: white;
    text-decoration: none;
}
.apresentacao{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_quem_somos{
    padding-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    color: white;

}
.meio_apresentacao{
    font-size: 25px;
    padding-top: 10px;
    color: white;
}
.texto_menor{
    padding-top: 50px;
    font-size:25px;
}
.texto_medio{
    padding-top: 50px;
    font-size:28px;
    
}
.texto_maior{
    padding-top: 50px;
    font-size:32px;
}
.lema{
    padding-top: 30px;
    font-size:60px;
    max-width: 80%;
}
table{
    text-align: center;
}
.feedback{
    padding-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.componentes{
    width: 100px;
    height: 100px;
}



