body{    
    background-color: grey;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
    margin: 0;
}
#deslocamento{
    margin-top: 50px;
}
.border{
    border: 5px solid white;
    padding-top: 0;
    background-color: black;
    color:silver;
    margin-top:0;
    margin-bottom: 0;
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    margin-top: 0;
}
.border h1 a{
    text-decoration: none;
    color: black;
}
.border .label_acao{
        display:flex;
        flex-basis: 100%;
}
.border .div_acao .label_acao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 12px;
}
.border .div_acao{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
}
.border .div_acao .opcoes_acao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.border .opcao_codificar{
    margin-right: 10px;
}

.border .algoritmo_box{
    margin-top: 50px;
}
.border .item_a_ser_codificado{
    margin-top: 50px;
}
.border .item_codificado{
    margin-top: 50px;
}
.border h1{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
}
.border .acao_realizada{
    display: flex;
    justify-content: center;
    align-items: center;
}
.border .algoritmo{
    background-color: black;
    color: white;
    border: #b0e0e6;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border .acao{
    display: flex;
    flex-direction: row;
}
.border .algoritmo_box{
    
    display: flex;
    flex-direction: row;
}
.border footer{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border footer a{
    font-size: 100%;
    color:black;
    text-decoration: none;
}
textarea{
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit{
    background-color: black;
    color: white;
    border-radius: 40px;
}
.easyCriptography{
    width:100%; 
    height: 190px;
    border-radius: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

